@{
    ViewData["Title"] = "診所介紹";
}
<h1>@ViewData["Title"]</h1>

<h2>聖德診所</h2>

<p>
    1. 高低濃度葡萄糖增生注射治療，緩
    解大部分酸痛麻的症狀。<BR>
    2. 開立慢性病連續處方簽。<BR>
    3. 提供健保醫療保健服務，營養治療。<BR>
    4. 耳鼻喉內視鏡檢查。<BR>
    5. 提供血液，尿液，糞便檢查。<BR>
    6. 提供腹部超音波，心電圖檢查。<BR>
</p>
<BR>
<img src="~/img/Clinic.jpg" alt="Clinic Photo" class="detailImage" width="200" height="300" />
<img src="~/img/Clinic2.jpg" alt="Clinic2 Photo" class="detailImage" width="450" height="300" />
<img src="~/img/Clinic3.jpg" alt="Clinic3 Photo" class="detailImage" width="200" height="300" />
<img src="~/img/Clinic4.jpg" alt="Clinic4 Photo" class="detailImage" width="200" height="300" />
