@{
    ViewData["Title"] = "與我們連絡";
}
<h1>@ViewData["Title"]</h1>

<p>
    聖德診所，營業時間如下，歡迎於營業時間聯繫我們，不要錯過囉！
    <BR>
    星期一、二、三、五<BR>
    08:30–12:00<BR>
    15:00–17:30<BR>
    18:30–21:00<BR>
    <BR>
    星期四<BR>
    08:30–12:00<BR>
    18:30–21:00<BR>
    <BR>
    星期六<BR>
    08:30–12:00<BR>
    <BR>
    星期日<BR>
    休息<BR>
    <BR>
    看診預約專線：02-2429-3939<BR>
    <BR>
    聖德診所：20349 基隆市中山區西定路411號<BR>

</p>