@{
    ViewData["Title"] = "首頁";
}

<div class="text-center">
    <h1 class="display-4">歡迎光臨</h1>
    <p>參考 <a href="https://www.facebook.com/Shengdeclinic">聖德診所FB</a> .</p>
</div>

<h6>
    題目:肌肉沒有痠痛 葡萄糖增生能做保養嗎?!<br>
</h6>
<div>
    文章:<br>
    如果沒有痠痛的話一般來講是不太建議用這個當保養，<br>
    葡萄糖增生也算復健的一種我們還是針對已經受過傷的肌腱韌帶超過一定的時間，<br>
    比如說他已經發生過六週以後一個肌腱韌帶沒有修復的時候，<br>
    我們再來治療那是針對高濃度葡萄糖那如果低濃度的話，<br>
    是針對比較新急性的受傷包括扭傷、撞到、瘀青這方面，謝謝。
</div>
