@{
    ViewData["Title"] = "醫師介紹";
}
<h1>@ViewData["Title"]</h1>

<p>
    王公作醫師&nbsp&nbsp-&nbsp&nbsp聖德診所院長 <BR>
    學經歷:&nbsp台大三總主治醫師、國防醫學院<BR>
    急慢性肌腱韌帶炎專用玻尿酸、關節腔高分子量玻尿酸、高低濃度葡萄糖增生治療<BR>
    <BR>
    家庭醫學科專科醫師
    <BR>
    中華民國急診醫學會
    <BR>
    長期照護專業協會
    <BR>
    健診學會會員
</p>
<img src="~/img/William.png" alt="William1 Photo" class="detailImage" />
<BR>
<img src="~/img/William2.jpg" alt="William2 Photo" class="detailImage" />
